.advantage {
  margin-bottom: 42px;
}

.advantage__list {
  @include list-reset();

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: row;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 110px;
  }
}

.advantage__item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.advantage__text {
  color: $basic-dark--600;
}
