.cat-program {
  &--mdfElemOne {
    padding-top: 29px;
    padding-bottom: 25px;
    border-top: 1px solid $basic-grey--260;
    border-bottom: 1px solid $basic-grey--260;
  }
}

.cat-program__item:not(:last-child) {
  margin-bottom: 24px;
}

.cat-program__text {
  padding-left: 45px;
}

.cat-program__container {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 40px;

    @media (min-width: $desktop-width) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      column-gap: 80px;
    }
  }
}
