
.product-catalog__list,
.additional-products__list {
  @include list-reset;
}

.card-list__container {
  text-decoration: none;
  color: inherit;
}

.card-list__stats,
.card-list__lead,
.card-list__button--all-item {
  color: $basic-dark--600;
}


.card-list__title {
  @include font-options(16px, 20px);
  color: $basic-dark--700;
  font-family: $oswald;
  text-transform: uppercase;

  &--all-item {
    color: $basic-dark;
  }
}

.card-list__stats,
.card-list__lead {
  @include font-options(12px, 16px);
}

.card-list__button {
  &--all-item {
    background-color: $basic-grey--100;
  }
}
