//общие стили
.product-catalog__list,
.additional-products__list {
  @include list-reset;
}

.card-list__stats,
.card-list__lead,
.card-list__button--all-item,
.product-card__stats {
  color: $basic-dark--600;
}


.card-list__title,
.product-card__title {
  color: $basic-dark--700;
  text-transform: uppercase;

  &--all-item {
    color: $basic-dark;
  }
}

.card-list__stats,
.card-list__lead {
  @include font-options(12px, 16px);
}

.stats-list,
.stats-list * {
  @include margin-reset;
}

//card-list
.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;
  row-gap: 40px;
}

.card-list__container {
  text-decoration: none;
  color: inherit;
}


.card-list__button {
  &--all-item {
    background-color: $basic-grey--100;
  }
}

//additional-products__list
.product-card {
  display: grid;
}

.product-card__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.product-card__stats {
  @include font-options(14px, 14px);
}

.product-card__button {
  grid-column: 1 / -1;
}

//stats-list__item
.stats-list__item {
  display: flex;
}

.promo {
  background-color: $basic-green;
}

.promo__text {
  text-align: center;
  color: $basic-white;
}
