.copyright__link {
  @include font-options(16px, 20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: $basic-dark--600;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    column-gap: 22px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.copyright__icon {
  fill: $basic-dark--500;
}

.copyright__link:hover,
.copyright__link:focus {
  .copyright__icon {
    fill: $basic-green;
  }
}
