.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 28px 20px;
}

.contacts__slogan {
  font-family: $oswald;
  color: $basic-dark;
  text-transform: uppercase;
}

.contacts__address {
  line-height: 20px;
  color: $basic-dark--600;
}
