.contacts {
  &--mdfBgColor {
    background-color: $basic-grey--100;
  }
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 28px 24px 26px 20px;

  @media (min-width: $tablet-width) {
    padding: 64px 72px 57px 71px;
  }
}

.contacts__slogan {
  @include font-options(16px, 20px);
  font-family: $oswald;
  color: $basic-dark;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font-options(20px, 26px);
  }
}

.contacts__address {
  line-height: 20px;
  color: $basic-dark--600;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    text-align: right;

    span {
      display: block;
      margin-top: 20px;
    }
  }
}

.contacts__map-wrap {
  height: 362px;
  background-image: url("../../img/mobile-map-@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
