.page-footer__logo {
  margin-bottom: 20px;
}

.logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-footer__link {
  display: block;
}


.logo-footer__img {
  display: block;
}
