.form-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    column-gap: 40px;
    padding: 0 70px;
  }
}

.form-button__button {
  width: 280px;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    width: 282px;
  }
}

.form-button__desc {
  @include margin-reset;
  font-family: $arial;
  font-size: 14px;
  line-height: 16px;
  text-transform: initial;
}
