.form-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    column-gap: 40px;
    padding: 0 70px;
  }
}

.form-button__button {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 282px;
  }
}

.form-button__desc {
  font-family: $arial;
  text-transform: capitalize;
}
