.intro {
  margin-bottom: 22px;
  padding-top: 27px;
  font-family: $oswald;
  color: $basic-white;
  background-image:
      url("../img/intro-bg@1x.jpg"),
      linear-gradient(to right, #64a73d 50%, #62a53b 50%)
  ;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 320px 302px, 100% 302px;
}

.intro__header {
  @include font-options(36px, 36px);
  text-align: center;
}

.intro__slogan {
  line-height: 14px;
  text-transform: uppercase;
}
