//Общие стили
.intro__header,
.intro__slogan {
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 414px;
    text-align: left;
    color: $basic-black;
  }
}

.intro {
  min-height: 275px;
  margin-bottom: 22px;
  padding-top: 27px;
  font-family: $oswald;
  color: $basic-white;
  background-image: url("../img/intro-bg@1x.webp"), linear-gradient(to right, #64a73d 50%, #62a53b 50%);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 320px 302px, 100% 302px;
  box-sizing: border-box;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/intro-bg@2x.webp"), linear-gradient(to right, #64a73d 50%, #62a53b 50%);
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding-top: 64px;
    background-color: $basic-white;
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 24px;
    padding-bottom: 54px;
    margin-bottom: 81px;
    background-color: transparent;
  }
}

.intro-grid {
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-rows: min-content auto auto auto;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    // grid-template-columns: repeat(12, 1fr);
    grid-template-columns: 500px 1fr;
    width: 1220px;
    margin: 0 auto;
    padding: 0 40px;
  }
}

.intro__header {
  @include margin-reset;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-left: 87px;
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-top: 82px;
    margin-left: 80px;
  }
}

.intro__text-wrapper {
  @media (min-width: $tablet-width) {
    position: relative;
    z-index: 3;

    @media (min-width: $desktop-width) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
  }
}

.intro__slogan {
  @include margin-reset;
  margin-bottom: 29px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-left: 88px;
    margin-bottom: 21px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
    margin-bottom: 23px;
  }
}

.intro__picture {
  @include margin-reset;
  height: 270px;
  margin-bottom: 2px;

  img {
    display: block;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    grid-row: 3 / -1;
    grid-column: 1 / -1;
    height: auto;
    margin-bottom: 0;

    img {
      width: 709px;
      height: 609px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-row: 1 / -1;
    grid-column: 2 / -1;

    img {
      width: 552px;
      height: 499px;
      margin: 0;
    }
  }
}

.intro__link-wrapper {
  display: grid;
  justify-content: center;
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    justify-content: start;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    padding-top: 28px;
  }
}

.intro__link {
  @include font-options();
  display: block;
  width: 280px;
  padding-top: 11px;
  padding-bottom: 11px;

  &:hover,
  &:focus {
    background-color: $basic-green--200;
  }

  &:active {
    color: rgba(255, 255, 255, 0.5);
  }

  @media (min-width: $tablet-width) {
    @include font-options(20px, 20px);
    width: 244px;
    margin-left: 83px;
    padding-top: 17px;
    padding-bottom: 17px;
  }

  @media (min-width: $desktop-width) {
    max-height: 54px;
    margin-left: 80px;
  }
}
