.page-main__header {
  margin-bottom: 39px;

  &--mdfMarCatalog {
    margin-bottom: 40px;
  }

  @media (min-width: $tablet-width) {
    &--mdfMarCatalog {
      margin-bottom: 83px;
    }
  }
}

.header,
.header-two,
.header-three,
.header-four {
  font-family: $oswald;
}

.header__heading {
  @include font-options(36px, 36px);
  @include margin-reset;

  &--mdfMarForm {
    margin-bottom: 37px;
  }

  @media (min-width: $tablet-width) {
    @include font-options(60px, 60px);

    &--mdfMarForm {
      margin-bottom: 54px;
    }
  }
}

.header__lead {
  @include margin-reset;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font-options(20px, 30px);
  }
}

.header-two {
  @include font-options(36px, 36px);

  @media (min-width: $tablet-width) {
    @include font-options (60px, 60px);
  }
}

.header-three {
  @include font-options(24px, 26px);

  @media (min-width: $tablet-width) {
    @include font-options(36px, 36px);
  }
}

.header-four {
  @include font-options(16px, 20px);

  @media (min-width: $tablet-width) {
    @include font-options(20px, 24px);
  }
}

.decor-line {
  display: flex;
  box-sizing: border-box;

  &::after {
    content: "";
    margin-top: 15px;
    margin-left: 20px;
    flex-shrink: 0;
    flex-grow: 1;
    height: 2px;
    background-color: $basic-green;
  }

  @media (min-width: $tablet-width) {
    &::before {
      content: "";
      margin-right: 40px;
      margin-top: 22px;
      flex-shrink: 0;
      flex-grow: 1;
      height: 2px;
      background-color: $basic-green;
    }

    &::after {
      margin-top: 22px;
      margin-left: 40px;
      flex-grow: 5;
    }

    &--mdfGrow1::after {
      flex-grow: 15;
    }

    &--mdfGrow2::after {
      flex-grow: 16;
    }

    &--mdfGrow3::after {
      flex-grow: 12;
    }
  }
}
