.page-main__header {
  margin-bottom: 39px;
}

.header,
.header-two,
.header-three,
.header-four {
  font-family: $oswald;
}

.header__heading {
  @include font-options(36px, 36px);
}

.header__lead {
  text-transform: uppercase;
}

.header-two {
  @include font-options(36px, 36px);
}

.header-three {
  @include font-options(24px, 26px);
}

.header-four {
  @include font-options(16px, 20px);
}
