.page-main__header {
  margin-bottom: 39px;

  &--mdfMarCatalog {
    margin-bottom: 40px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;

    &--mdfMarCatalog {
      margin-bottom: 83px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 66px;
  }
}

.header,
.header-two,
.header-three,
.header-four {
  font-family: $oswald;
}

.header__heading {
  @include font-options(36px, 36px);
  @include margin-reset;

  &--mdfMarForm {
    margin-bottom: 37px;
  }

  @media (min-width: $tablet-width) {
    @include font-options(60px, 60px);

    &--mdfMarForm {
      margin-bottom: 54px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.header__lead {
  @include margin-reset;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font-options(20px, 30px);
  }
}

.header-two {
  @include font-options(36px, 36px);

  @media (min-width: $tablet-width) {
    @include font-options (60px, 60px);
  }
}

.header-three {
  @include font-options(24px, 26px);

  @media (min-width: $tablet-width) {
    @include font-options(36px, 36px);
  }
}

.header-four {
  @include font-options(16px, 20px);

  @media (min-width: $tablet-width) {
    @include font-options(20px, 24px);
  }
}

.decor-line {
  display: grid;
  grid-template-columns: 185px 1fr;
  box-sizing: border-box;

  &::after {
    content: "";
    margin-top: 15px;
    margin-left: 16px;
    flex-shrink: 0;
    flex-grow: 1;
    height: 2px;
    background-color: $basic-green;
  }

  &--mdfGrow2 {
    grid-template-columns: 127px 1fr;
  }

  &--mdfGrow1 {
    grid-template-columns: 148px 1fr;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 512px calc(100% - 649px) 1fr;

    &::before {
      content: "";
      margin-right: 40px;
      margin-top: 22px;
      grid-column: 1 / 2;
      height: 2px;
      background-color: $basic-green;
    }

    &::after {
      margin-top: 22px;
      margin-left: 40px;
      grid-column: -3 / -1;
    }

    &--mdfGrow1 {
      grid-template-columns: 1fr 211px calc(100% - 349px) 1fr;
    }

    &--mdfGrow2 {
      grid-template-columns: 1fr 182px calc(100% - 319px) 1fr;
    }

    &--mdfGrow3 {
      grid-template-columns: 1fr 338px calc(100% - 470px) 1fr;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 512px calc(1220px - 512px) 1fr;

    &--mdfGrow1 {
      grid-template-columns: 1fr 211px calc(1220px - 211px) 1fr;
    }

    &--mdfGrow2 {
      grid-template-columns: 1fr 182px calc(1220px - 182px) 1fr;
    }

    &--mdfGrow3 {
      grid-template-columns: 1fr 338px calc(1220px - 338px) 1fr;
    }
  }
}
