//Общие стили
.site-list__link,
.user-list__link {
  @include font-options(20px, 20px, 500);
  font-family: $oswald;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

//main-nav
.main-nav__list {
  @include list-reset();
}

//site-list

//user-list
.user-list {
  display: none;
}
