.personal-data__container {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    column-gap: 84px;
  }
}

.personal-data__item {
  @include margin-reset;
  position: relative;
  display: flex;
  align-items: baseline;
  gap: 14px;

  &--mdfGapL {
    gap: 15px;
  }

  &--mdfGapM {
    gap: 16px;
  }

  &--mdfElemOne {
    gap: 11px;
  }

  &--mdfElemTwo {
    gap: 9px;
  }

  &:not(:last-child) {
    margin-bottom: 13.5px;
  }

  @media (min-width: $tablet-width) {
    gap: 17px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &--mdfGapM {
      gap: 21px;
    }

    &--mdfGapL {
      gap: 18px;
    }

    &--mdfElemOne {
      gap: 20px;
    }

    &--mdfElemTwo {
      gap: 14px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    box-sizing: border-box;
  }
}

.personal-data__text {
  flex-shrink: 0;
  color: $basic-dark--600;
}

.personal-data__input {
  width: 100%;
  padding: 13px 40px 12px 14px;
  border: 1px solid $basic-grey--240;
  box-sizing: border-box;

  &:hover {
    border-color: $basic-grey--350;
  }

  &:focus {
    outline: 2px solid $basic-dark--600;
    outline-offset: -1px;
  }

  @media (min-width: $tablet-width) {
    padding: 14px 40px 13px 18px;
  }
}

.personal-data__icon-tell {
  position: absolute;
  top: 13px;
  right: 9px;

  @media (min-width: $tablet-width) {
    top: 16px;
    right: 13px;
  }
}

.personal-data__icon-email {
  position: absolute;
  top: 16px;
  right: 16px;

  @media (min-width: $tablet-width) {
    top: 18px;
    right: 18px;
  }
}

.personal-data__icon-email {
  stroke: $basic-dark--700;
  fill: none;
}

.personal-data__icon-tell {
  fill: $basic-dark--700;
}

.personal-data__input:focus + .personal-data__icon-email {
  stroke: $basic-green;
}

.personal-data__input:focus + .personal-data__icon-tell {
   fill: $basic-green;
}
