.products {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 43px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 72px;
  }
}

.products-wrapper {
  @media (min-width: $desktop-width) {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
  }
}

.products__list {
  @include list-reset();

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.products__item {
  position: relative;
  padding: 35px 20px 19px 20px;
  background-color: $basic-grey--100;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 21px;
    left: 22px;
    width: 50px;
    height: 53px;
    background-image: url("../../img/cat_back.svg");
    background-repeat: no-repeat;
  }

  &--mdfElem::before {
    top: 24px;
    left: 13px;
    width: 67px;
    height: 50px;
    background-image: url("../../img/cat_back-two.svg");
  }

  @media (min-width: $tablet-width) {
    padding: 76px 275px 62px 53px;

    &:not(:last-child) {
      margin-bottom: 31px;
    }

    &::before {
      top: 80px;
      left: auto;
      right: 62px;
      width: 200px;
      height: 211px;
    }

    &--mdfElem::before {
      top: 90px;
      right: 29px;
      width: 268px;
      height: 200px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 78px 52px 62px 52px;

    &:not(:last-child) {
      margin-bottom: 0;
    }

    &::before {
      top: 42px;
      left: 51px;
      right: auto;
      width: 100px;
      height: 106px;
    }

    &--mdfElem::before {
      top: 47px;
      left: 33px;
      width: 135px;
      height: 100px;
    }
  }
}

.products__title {
  @include margin-reset;
  margin-left: 71px;
  margin-bottom: 35px;
  font-family: $oswald;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 161px;
    margin-bottom: 74px;
  }
}

.products__text {
  @include margin-reset;
  padding-bottom: 22px;
  margin-bottom: 18px;
  color: $basic-dark--600;
  border-bottom: 1px solid $basic-grey--260;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    @include font-options(16px, 24px);
    margin-bottom: 56px;
    padding-bottom: 0;
    color: $basic-black;
    border-bottom: none;

    br {
      display: inline;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 31px;

    br {
      display: none;
    }
  }
}

.products__link {
  color: inherit;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    @include font-options(20px, 20px);
  }
}
