.products {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.products-wrapper {
  @media (min-width: $desktop-width) {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
  }
}

.products__list {
  @include list-reset();

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.products__item {
  position: relative;
  padding: 35px 20px 11px 20px;
  background-color: $basic-grey--100;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 21px;
    left: 22px;
    width: 50px;
    height: 53px;
    background-image: url("../img/cat_back.svg");
    background-repeat: no-repeat;
  }

  &--mdfElem::before {
    top: 24px;
    left: 13px;
    width: 67px;
    height: 50px;
    background-image: url("../img/cat_back-two.svg");
  }

  @media (min-width: $tablet-width) {
    padding: 76px 275px 53px 53px;

    &:not(:last-child) {
      margin-bottom: 31px;
    }

    &::before {
      top: 80px;
      left: auto;
      right: 62px;
      width: 200px;
      height: 211px;
    }

    &--mdfElem::before {
      top: 90px;
      right: 29px;
      width: 268px;
      height: 200px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 78px 52px 55px 52px;

    &:not(:last-child) {
      margin-bottom: 0;
    }

    &::before {
      top: 42px;
      left: 51px;
      right: auto;
      width: 100px;
      height: 106px;
    }

    &--mdfElem::before {
      top: 47px;
      left: 33px;
      width: 135px;
      height: 100px;
    }
  }
}

.products__title {
  @include margin-reset;
  margin-left: 71px;
  margin-bottom: 35px;
  font-family: $oswald;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 161px;
    margin-bottom: 74px;
  }
}

.products__text {
  @include margin-reset;
  padding-bottom: 22px;
  margin-bottom: 8px;
  color: $basic-dark--600;
  border-bottom: 1px solid $basic-grey--260;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    @include font-options(16px, 24px);
    margin-bottom: 46px;
    padding-bottom: 0;
    color: $basic-black;
    border-bottom: none;

    br {
      display: inline;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;

    br {
      display: none;
    }
  }
}

.products__link {
  display: block;
  width: 124px;
  text-align: left;
  padding-right: 24px;
  color: inherit;
  background-color: transparent;
  box-sizing: border-box;
  background-image: url("../img/bg-icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: right center;

  &:hover,
  &:focus {
    width: 132px;
    padding-right: 30px;
    background-image: url("../img/bg-icon-arrow_focus.svg");
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    @include font-options(20px, 20px);

    width: 154px;

    &:hover,
    &:focus {
      width: 162px;
    }
  }
}

.products_link-icon {
  vertical-align: 1px;
  margin-left: 11px;

  @media (min-width: $tablet-width) {
    vertical-align: 4px;
    margin-left: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 23px;
  }
}
