.products {
  margin-bottom: 27px;
}

.products__list {
  @include list-reset();

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 110px;
  }
}

.products__item {
  padding: 30px 20px 18px 20px;
  background-color: $basic-grey--100;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.products__title {
  @include font-options(24px, 37px);
  font-family: $oswald;
}

.products__text {
  color: $basic-dark--600;
}

.products__link {
  color: inherit;
  background-color: transparent;
}
