//Общие стили
.cat-program__item {
  @include margin-reset;
}

.user-comments__title,
.selection-form__title {
  text-transform: initial;
}

.personal-data__input,
.user-comments__text {
  text-transform: inherit;
}

//program-selection
.program-selection {
  font-family: $oswald;
  text-transform: uppercase;
}

//selection-form
.selection-form {
  font-size: 16px;

  @media (min-width: $tablet-width) {
    @include font-options(20px, 30px);
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, auto);
    column-gap: 80px;
  }
}

.selection-form__list {
  @include fieldset-reset;

  &--mdfMarBtmL {
    margin-bottom: 21px;
  }

  &--mdfMarBtmLm {
    margin-bottom: 23px;
  }

  &--mdfMarBtmMl {
    margin-bottom: 24px;
  }

  &--mdfMarBtmM {
    margin-bottom: 27px;
  }

  &--mdfMarBtmH {
    margin-bottom: 34px;
  }

  @media (min-width: $tablet-width) {
    &--mdfMarBtmL {
      margin-bottom: 59px;
    }

    &--mdfMarBtmLm {
      margin-bottom: 72px;
    }

    &--mdfMarBtmMl {
      margin-bottom: 65px;
    }

    &--mdfMarBtmM {
      margin-bottom: 74px;
    }

    &--mdfMarBtmH {
      margin-bottom: 41px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 5;

    &--mdfColLeft {
      grid-column: 1 / 3;
    }

    &--mdfColRight {
      grid-column: 3 / 5;
    }
  }
}

.selection-form__title {
  width: 100%;
  padding-left: 20px;
  margin-bottom: 34px;

  &--mdfElemOne {
    margin-bottom: 33px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 0;
    margin-bottom: 77px;

    &--mdfElemOne {
      margin-bottom: 57px;
    }
  }
}

@media screen and (min-width: 420px) {
  .selection-form__title br {
    display: none;
  }
}
