//Общие стили
.user-comments__title,
.selection-form__title {
  text-transform: capitalize;
}

.personal-data__input,
.user-comments__text {
  text-transform: inherit;
}

//program-selection
.program-selection {
  font-family: $oswald;
  text-transform: uppercase;
}
