.user-comments__title {
  @include margin-reset;

  margin-bottom: 38px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
    padding-left: 0;
  }
}

.user-comments__text {
  padding: 9px 13px;
  width: 100%;
  min-height: 150px;
  resize: vertical;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 14px 18px;
    min-height: 174px;
  }
}
