.page {
  height: 100%;
}

.page__body {
  @include indent(0, 0);
  @include font-options();
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-width: 320px;
  min-height: 100%;
  font-family: $arial;
  word-wrap: break-word;
  color: $basic-black;
  background-color: $basic-white;

  @media (min-width: $desktop-width) {
    &--mdfElem {
      background-image: url("../img/intro-bg-desk@1x.webp"), linear-gradient(to right, $basic-white 50%, #64a73d 50%);
      background-position: top right, top;
      background-size: 610px 694px, 100% 694px;
      background-repeat: no-repeat;
    }

    @media (min-resolution: 2dppx) {
      &--mdfElem {
        background-image: url("../img/intro-bg-desk@2x.webp"), linear-gradient(to right, $basic-white 50%, #64a73d 50%);
      }
    }
  }
}

.page-main {
  &--form {
    margin-bottom: 32px;
    padding-top: 27px;
  }

  &--catalog {
    margin-bottom: 35px;
    padding-top: 27px;
  }

  @media (min-width: $tablet-width) {
    &--catalog {
      margin-bottom: 76px;
      padding-top: 66px;
    }

    &--form {
      margin-bottom: 72px;
      padding-top: 67px;
    }
  }

  @media (min-width: $desktop-width) {
    &--catalog {
      margin-bottom: 86px;
      padding-top: 79px;
    }

    &--form {
      margin-bottom: 82px;
      padding-top: 79px;
    }
  }
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  padding: 0 20px;


  @media (min-width: $tablet-width) {
    padding: 0 30px;

    &--mdfPaddingForm {
      padding: 0 66px 0 70px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;
  }
}

.container {
  @media (min-width: $desktop-width) {
    max-width: 1220px;
    margin: 0 auto;
  }
}

.button {
  @include font-options(16px, 20px);
  padding-top: 10px;
  padding-bottom: 9px;
  font-family: $oswald;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic-white;
  border: none;
  cursor: pointer;
  background-color: $basic-green--150;
  box-sizing: border-box;
}
