$basic-black: #000000;

$alpha-black--160: rgba(0, 0, 0, 0.20);
$alpha-black--150: rgba(0, 0, 0, 0.19);
$alpha-black--100: rgba(0, 0, 0, 0.16);

$basic-white: #FFFFFF;

$basic-black: #111111;
$basic-dark--700: #222222;
$basic-dark--600: #444444;
$basic-dark--500: #666666;

$basic-grey: #B2B2B2;
$basic-grey--450: #BABABA;
$basic-grey--400: #C4C4C4;
$basic-grey--350: #CDCDCD;
$basic-grey--300: #D3D3D3;
$basic-grey--200: #EBEBEB;
$basic-grey--150: #EAEAEA;
$basic-grey--100: #F2F2F2;

$basic-green: #68B738;
$basic-green--100: #5EAA2F;

$basic-pink: #FF8282;
