$arial: "Arial", sans-serif;
$oswald: "Oswald", "Arial", sans-serif;

$mobile-fix1: 640px;
$mobile-fix2: 765px;
$tablet-width: 768px;
$tablet-fix1: 960px;
$tablet-fix2: 1259px;
$desktop-width: 1300px;
$mobile-only-width: 767px;


$basic-black: #000000;

$alpha-black--160: rgba(0, 0, 0, 0.2);
$alpha-black--150: rgba(0, 0, 0, 0.19);
$alpha-black--100: rgba(0, 0, 0, 0.16);
$alpha-green: rgba(104, 183, 56, 0.85);

$basic-white: #ffffff;

$basic-dark: #111111;
$basic-dark--700: #222222;
$basic-dark--600: #444444;
$basic-dark--500: #666666;

$basic-grey: #b2b2b2;
$basic-grey--450: #bababa;
$basic-grey--400: #c4c4c4;
$basic-grey--350: #cdcdcd;
$basic-grey--300: #d3d3d3;
$basic-grey--260: #d9d9d9;
$basic-grey--250: #e6e6e6;
$basic-grey--240: #e7e7e7;
$basic-grey--200: #ebebeb;
$basic-grey--150: #eaeaea;
$basic-grey--100: #f2f2f2;

$basic-green: #68b738;
$basic-green--100: #5eaa2f;
$basic-green--150: #4B832B;
$basic-green--200: #375F1C;
$basic-pink: #ff8282;
